* {
    box-sizing: border-box;
    background-color: #dddddd;
}
.header-post{
    font-size: larger;
    display: flex;
    justify-content: center;
    background-color: rgb(255,255,200);
    margin-top: 20px;
    border-bottom: 1px solid;
    border-color: #4CAF50;
}
.form-field{
    margin: 50px auto;
    margin-top: 100px;
    border: 1px solid;
    border-radius: 4px;
    padding: 5px;
    background-color: rgb(255,255,255);
    width: 60vw;
} 
.form-post{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255,255,255);
}
.input-post{
    background-color: rgb(255, 255, 255);
    width: 300px;
    margin: 20px
}
label{
    background-color: rgb(255, 255, 255);
}
.button-post{
    width: 100px;
    height: 50px;
    font-size: large;
    border-radius: 5px;
    border-style:hidden;
    transition-duration: 0.4s;

    &:hover {
        background-color: #4CAF50;
        cursor: pointer;
    }
}

textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
    color: #333;
    font-size: 16px;
    resize: vertical; 
    transition: border-color 0.2s ease-in-out;
    resize: none;

    &:hover {
        border-color: #666;
    }

    &:focus {
        border-color: #00bcd4; 
        box-shadow: 0 0 5px rgba(0, 188, 212, 0.5);
      }
  }
  
  button {
    border-radius: 5px;
}