.Post {
    
    div{
    padding: 5px;
    background-color: white;
    }
}

.Title {
    word-break: break-all;  
}

.Delete-post {
    background: none;
    border: none;
    padding: 0;
    float: right;
    cursor: pointer;
}